<div class="page navbar-fixed" data-page="resources/music/music-artist-info" v-cloak>
	<div class="navbar">
		<navbar-inner :title="artistInfo.name"></navbar-inner>
	</div>
	<div class="page-content infinite-scroll">
		<div class="card" v-if="isInfoValid">
			<div class="card-header">歌手信息</div>
			<div class="card-content">
				<div class="card-content-inner text-center">
					<img :src="getAvatar()" alt="">
				</div>
				<div class="list-block">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">姓名</div>
								<div class="item-after">{{artistInfo.name}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">地区</div>
								<div class="item-after">{{artistInfo.country}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">生日</div>
								<div class="item-after">{{artistInfo.birth}} ({{artistInfo.constellation}}座)</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">身高</div>
								<div class="item-after">{{artistInfo.stature}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">体重</div>
								<div class="item-after">{{artistInfo.weight}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">专辑数</div>
								<div class="item-after">{{artistInfo.albums_total}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">歌曲数</div>
								<div class="item-after">{{artistInfo.songs_total}}</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="card-content-inner text-center">
					<p v-for="item in introList" track-by="$index">{{item}}</p>
				</div>
			</div>
		</div>
		<div class="content-block-title">歌曲列表</div>
		<div class="list-block media-list">
			<ul>
				<li v-for="item in songlist">
					<a href="#" @click="gotoSongPage(item.song_id)" class="item-link item-content">
						<div class="item-media text-center">
							<img :src="getSongAvatar(item)" alt="" style="width: 90px;">
						</div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">{{item.title}}</div>
								<div class="item-after"># {{$index+1}}</div>
							</div>
							<div class="item-subtitle">{{item.author}}</div>
							<div class="item-text">
								{{item.album_title}}
							</div>
							<div class="item-text">
								{{getDuration(item.file_duration)}}　{{item.style}}　{{item.language}}
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="cotent-block text-center" v-show="!isLoading">
			<span class="color-gray" v-if="isLastPage">最后一页</span>
			<a href="#" class="link" @click="loadSongList()" v-else>下一页</a>
		</div>
	</div>
</div>