<div class="page navbar-fixed" data-page="app/app-home" v-cloak>
	<div class="navbar">
		<navbar-inner title="DMG万事屋" :has-back-link="false"></navbar-inner>
	</div>
	<div class="toolbar toolbar-bottom tabbar tabrbar-labels">
		<div class="toolbar-inner">
			<a href="#tabHome" class="tab-link active">
				<i class="icon ion-logo-windows"></i>
				<span class="tabbar-label">DMG万事屋</span>
			</a>
			<a href="#tabLinks" class="tab-link active">
				<i class="icon ion-md-map"></i>
				<span class="tabbar-label">常用链接</span>
			</a>
			<a href="#tabSettings" class="tab-link active">
				<i class="icon ion-md-person"></i>
				<span class="tabbar-label">我</span>
			</a>
		</div>
	</div>
	<div class="page-content tabs">
		<div class="tab active" id="tabHome">
			<menu-group-item
				v-for="item in homeMenuGroup"
				:title="item.title"
				:list="item.menuList">
			</menu-group-item>
		</div>
		<div class="tab" id="tabLinks">
			<menu-group-item
				v-for="item in linkMenuGroup"
				:title="item.title"
				:list="item.menuList">
			</menu-group-item>
		</div>
		<div class="tab" id="tabSettings">
			<div class="content-block-title">主题设置</div>
			<div class="list-block accordion-list">
	      <ul>
	      	<theme-select-accordion-item
	      		title="主题颜色"
	      		icon="ion-md-color-palette"
	      		:theme="theme"
	      		:theme-group="themeGroup"
	      		:select-theme="selectTheme"
	      		>	
	      	</theme-select-accordion-item>
					<theme-select-accordion-item
	      		title="主题模式"
	      		icon="ion-md-color-wand"
	      		:theme="layout"
	      		:theme-group="layoutGroup"
	      		:select-theme="selectLayout"
	      		>	
	      	</theme-select-accordion-item>
	      </ul>
	    </div>
		</div>
	</div>
</div>